name: Textlint

on:
  pull_request:

permissions:
  pull-requests: write
  statuses: write

jobs:
  check-textlint:
    runs-on: ubuntu-slim
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: bun danger ci -d textlint.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
